div{

text-align: center
;

}



h1{



color: rgb(255, 128, 0);
    font-size: 100px;
}


p{


    font-size: 60px;
    color: blue;
}



button{
width: 150px;
height: 45px;
background-color:blueviolet;
border: none;
border: radius 10px;
cursor: pointer;
}

button:hover{
    background-color: aqua;
}

body{
    background-image: url(https://wallpapercave.com/wp/wp2510496.gif);
}